################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CEMET/.vs/CEMET/config/applicationhost.config
/CEMET/.vs/CEMET/v16/.suo
/CEMET/CEMET.WebApp/bin/
/CEMET/CEMET.WebApp/obj/
/CEMET/CEMET.WebApp/obj/Release/CEMET.WebApp.csproj.AssemblyReference.cache
/CEMET/CEMET.WebApp.Tests/bin/Debug
/CEMET/CEMET.WebApp.Tests/obj/Debug
/CEMET/CEMET.WebApp.Tests/obj/Release

/CEMET/.vs/CEMET.App/config/applicationhost.config
/CEMET/.vs/CEMET.App/v16/.suo
/CEMET/CEMET.Library/obj/Debug/CEMET.Library.csproj.CoreCompileInputs.cache
