################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CEMET/.vs/CEMET/config/applicationhost.config
/CEMET/.vs/CEMET/v16/.suo
/CEMET/CEMET.WebApp/bin
/CEMET/CEMET.WebApp/bin/Debug
/CEMET/CEMET.WebApp/bin/Release
/CEMET/CEMET.WebApp/obj/Debug
/CEMET/CEMET.WebApp/obj/Debug
/CEMET/CEMET.WebApp/obj/Release
/CEMET/CEMET.WebApp.Tests/bin/Debug
/CEMET/CEMET.WebApp.Tests/obj/Debug
/CEMET/CEMET.WebApp.Tests/obj/Release

/CEMET/.vs/CEMET.App/config/applicationhost.config
/CEMET/.vs/CEMET.App/v16/.suo
/CEMET/CEMET.Library/bin
/CEMET/CEMET.Library/bin/Debug
/CEMET/CEMET.Library/bin/Release
/CEMET/CEMET.Library/obj/Debug
/CEMET/CEMET.Library/obj/Release
/CEMET/CEMET.Library/CEMET.Library.csproj.user
/CEMET/CEMET.WebApp.Tests/CEMET.WebApp.Tests.csproj.user
*.testlog
/CEMET/.vs/CEMET.App/v16/TestStore/0
