<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/assan/assets/fonts/boxicons/css/boxicons.min.css" />
    <include path="~/Content/assan/assets/fonts/iconsmind/iconsmind.css" />
    <include path="~/Content/assan/assets/vendor/node_modules/css/choices.min.css" />
    <include path="~/Content/assan/assets/css/theme.css" />
    <!--<include path="~/Content/bootstrap.css" />-->
    <include path="~/Content/all.min.css" />
    <include path="~/Content/site.css" />
  </styleBundle>
</bundles>